 .a{
    color: var(--rich-black-fogra-29-1);
    font-family: var(--ff-cuprum);
    line-height: 1.1;
    font-size: var(--fs-2); 
  }
  
  form {
    max-width: 600px;
    text-align: center;
    margin: 20px auto;
  }
  form input, form textarea {
    border: 0;
    outline: 0;
    padding: 1em;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    margin-top: 1em;
    font-family: 'Merriweather', sans-serif;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    resize: none;
  }
  form input:focus, form textarea:focus {
    -moz-box-shadow: 0 0px 2px hsl(145, 63%, 42%) !important;
    -webkit-box-shadow: 0 0px 2px hsl(145, 63%, 42%) !important;
    box-shadow: 0 0px 2px hsl(145, 63%, 42%) !important;
  }
  form #input-submit {
    color: white;
    background-color: hsl(145, 63%, 42%);
    cursor: pointer;
    transition: 0.25 ease;
  }
  form #input-submit:hover {
    background-color: black;
    transition: 0.45s ease;

  }

  form #input-submit:focus{
    background-color: black;
  }
  form textarea {
    height: 126px;
  }
  
  .half {
    float: left;
    width: 48%;
    margin-bottom: 1em;
  }
  
  .right {
    width: 50%;
  }
  
  .left {
    margin-right: 2%;
  }
  
  @media (max-width: 480px) {
    .half {
      width: 100%;
      float: none;
      margin-bottom: 0;
    }
  }
  /* Clearfix */
  .cf:before,
  .cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  
  .cf:after {
    clear: both;
  }
  
  .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #input-submit{
    font-weight: 600;
  }

  .ch-btn{
    font-weight: bolder;
  }

 